/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Typography */
/* http://modularscale.com/scale/?px1=16&px2=&ra1=1.25 */

body {
  font-family: "ff-tisa-sans-web-pro", sans-serif;
}

h1 {
  font-size: 1.56rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

small {
  font-size: .8rem;
}

a {
  color: hsl(0, 0%, 20%);
}

  a:hover {
    color: hsl(120, 50%, 0%);
  }

.quiet {
  color: hsl(0, 0%, 55%);
}

  .quiet a {
    color: hsl(0, 0%, 55%);
  }

  .quiet a:hover {
    color: hsl(0, 0%, 20%);
  }


/* Layout */

.app {
  max-width: 50em;
  padding: 3rem 2rem;
  text-align: center;
  margin: 0 auto;
}

.content {
  display: inline-block;
  font-size: 1.25rem;
  font-family: "ff-tisa-web-pro", serif;
  margin: 0 3rem 2rem 0;
  text-align: left;
  max-width: 35rem;
  vertical-align: top;
}

  /* ZeroClipboard’s copy doesn’t apply do new lines so good, so
  we add some br’s but just hide them. */
  .content br {
    display: none;
    margin: 0;
  }

  .content p:first-child {
    margin-top: 0;
  }

.meta {
  display: inline-block;
  margin-bottom: 2em;
  width: 11rem;
  text-align: left;
  vertical-align: top;
}

  .meta-control {
  }

    .meta-control-header {
      margin: 0 0 0.4rem;
    }

    .meta-control-options {
      margin: 0 0 2em;
      padding-left: 0;
      list-style: none;
    }

      .meta-control-options-item {
        background-color: hsl(120, 20%, 95%);
        border-radius: 4px;
        box-sizing: border-box;
        display: block;
        margin: 0 0 .4rem 0;
        padding: .3rem .6rem;
        box-shadow: 0 1px 0 hsla(0, 0%, 0%, .2);
        text-decoration: none;
        -webkit-transition: background-color .1s;
        transition: background-color .1s;
      }

        .meta-control-options-item:hover {
          background-color: hsl(120, 10%, 92%);
        }

        .meta-control-options-item:active {
          background-color: hsl(120, 10%, 89%);
        }

      .meta-control-options-item--is-current,
      .meta-control-options-item--is-current:hover,
      .meta-control-options-item--is-current:active {
        background-color: hsl(120, 40%, 85%);
        cursor: default;
      }

    .meta-control-options--compact li {
      text-align: center;
      display: inline-block;
      width: 25%;
      margin: 0;
    }

      .meta-control-options--compact .meta-control-options-item {
        margin: 0 .3rem .4rem 0;
      }

  .meta-button {
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin: 0 0 .4rem 0;
    padding: .3rem .6rem;
    text-align: center;
    -webkit-transition: background-color .1s;
    transition: background-color .1s;
  }

    /* Special classes for ZeroClipboard’s flash element */
    .meta-button.zeroclipboard-is-hover {
      background-color: hsl(120, 20%, 95%);
    }

    .meta-button.zeroclipboard-is-active {
      background: hsl(120, 10%, 90%);
    }

  .meta-footer {
    text-align: center;
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
