/* Clipbaord */

.lorem-clipboard {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
  z-index: 100;
  display: none;
  opacity: 0;
}

  .lorem-clipboard-input {
    border: 0;
    width: 1px;
    height: 1px;
    padding: 0px;
  }
